<h1>Bienvenido a PruebaAI</h1>

<div class="menu">
  <%= link_to 'Inicio', home_index_path, class: 'btn' %>
  <%= link_to 'Productos', products_index_path, class: 'btn' %>
  <%= link_to 'About', about_index_path, class: 'btn' %>
</div>

<p>Esta es la página principal.</p>
